.sm-only {
    @media screen and (min-width: 1080px) {
        display: none;
    }
}

.lg-only {
    display: none;

    @media screen and (min-width: 1080px) {
        display: initial;
    }
}

.ml-auto {
    margin-left: auto;
}